<header>
    <h1>Neo Aliaga</h1>
    <p>Bienvenido a mi página personal</p>
  </header>
  <div class="container">
    <div class="section">
      <h2>Sobre mí</h2>
      <p>Hola, soy Neo Aliaga. Soy un entusiasta de la tecnología, las finanzas y los negocios. Me apasiona explorar nuevas tecnologías y encontrar maneras innovadoras de aplicar el conocimiento financiero en el mundo empresarial.</p>
    </div>
    <div class="section">
      <h2>Intereses</h2>
      <ul>
        <li>Tecnología: Me encanta estar al tanto de las últimas innovaciones tecnológicas y cómo pueden mejorar nuestras vidas.</li>
        <li>Finanzas: Disfruto analizando mercados financieros y creando estrategias de inversión efectivas.</li>
        <li>Negocios: Me interesa el emprendimiento y las estrategias de negocio que llevan al éxito.</li>
      </ul>
    </div>
    <div class="section">
      <h2>Contacto</h2>
      <p>Puedes contactarme a través de mi telefono: 71525880</p>
    </div>
  </div>
  <footer>
    <p>&copy; 2024 Neo Aliaga. Todos los derechos reservados.</p>
  </footer>  